/*
 * Globals
 */

 /* Links */
 a,
 a:focus,
 a:hover {
  color: #f2efdf;
}

a#user-name {
  text-decoration: none;
}

a.event-highlight:focus,
a.event-highlight:hover {
  color: #9bbfab;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #f2efdf;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

.btn-primary {
  color: #f2efdf;
  /*background-color: #9bbfab;*/
  background-color: rgba(0,0,0,0);
  border-color: #9bbfab;
  border-width: 2px
}

.btn-primary:hover,
.btn-primary:active {
  color: #f2efdf!important;
  background-color: #656f8c!important;
  border-color: #413659!important;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(65,54,89,.5)!important;
}

/*
 * Base structure
 */

 html,
 body {
  height: 100%;
  /*background-color: #333;*/
}
body {
  color: #f2efdf;
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
}

video#bgvid { 
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-image: url("../images/bg.png");
  background-position: center;
  overflow-x: hidden;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
  box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

.nav-container {
  width: 100%;
}

/* Padding for spacing */
.inner {
  padding: 2rem;
}


/* Header */

.masthead {
  margin-bottom: 2rem;
  /*background-color: rgba(65, 54, 89, 0.5);*/
  /*border-bottom: solid 1px rgba(155, 191, 171, 0.3);*/
  width: 100%;
}

.masthead .inner {
  /* padding: 2rem 5rem; */
  padding-top: 1rem;
  /*border-bottom: 0.25rem solid #211426; */
}

.masthead-brand {
  margin-bottom: 0;
}

.masthead-brand a{
  text-decoration: none;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: bold;
  /*color: rgba(255,255,255,.5);*/
  color: #f2efdf;
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}
.nav-masthead {
  justify-content: space-between;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255,255,255,.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #f2efdf;
  border-bottom-color: #f2efdf;
}

#user-pic {
  top: -3px;
  position: relative;
  display: inline-block;
  background-image: url('../images/profile_placeholder.png');
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background-size: 40px;
  border-radius: 20px;
  margin: 0 1rem;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

/* Cover */

.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: bold;
}

.cover-heading {
  font-size: 3em;
  margin-bottom: 4rem;
}


/* Scroll Down Arrow */

.mastfoot {
  color: rgba(255,255,255,.5);
}

.break-point {
  height: 45px;
  background-color: #fff;
  border-top: 5px solid #211426;
}

.scroll-down {
  /*border-bottom: 1px solid rgba(242, 239, 223, 0.3);*/
  box-shadow: 0 6px 19px 0 rgba(0,0,0,.375);
  padding-top: 10px;
  height: 50px;
  width: 50px;
  background-color: rgba(65, 54, 89, 0.5);
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

/* Affix and center */

@media (min-width: 40em) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
    z-index: 99;
  }
  .mastfoot {
    position: absolute;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 62em) {
  .mastfoot,
  .cover-container {
    width: 42rem;
  }
}

.event-highlight {
  color: #9bbfab;
}

/* Modal styling */

.modal-content {
  background-color: #413659;
}

.modal-header {
  border-color: #211426;
  display: block;
}

.login-modal-header {
  border: none;
  padding-bottom: 0;
}

.modal-title {
  margin: 1rem auto;
}

.modal-header,
.modal-body {
  background-color: #413659;
}

h6.modal-or:before {
  margin-right: 10px;
}

h6.modal-or:after {
  margin-left: 10px;
}

h6.modal-or:before,
h6.modal-or:after {
  border-bottom: 1px solid #211426;
  content: '';
  width: 45%;
  height: 12px;
  display: inline-block;
  vertical-align: top;
}

h6.modal-or {
  margin-top: 1rem;
}

.modal .btn-primary {
  width: 100%;
  background-color: #9bbfab;
  margin-top: 1rem;
}

/* Input Form */
.input-form,
.results-view {
  height: 600px;
  padding: 2rem;
  background-color: #656f8c;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.content-label {
  background-color: #9bbfab;
  margin-bottom: 0;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  height: 93px;
}

/* Results View */
#results-column {
  /* Uncomment once finished testing */
  /*display: none;*/
}

#eventImg {
  width: 640px;
  height: 200px;
}

.event-name {
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

.event-name:hover {
    text-overflow: ellipsis;
    overflow: visible;
}

.event-image {
  width: 200px;
  height: 200px;
}

/* Features Section */

.feature-header {
  letter-spacing: 2px;
}

.steps h3 {
  font-size: 4em;
  margin-bottom: 1rem;
}

.steps h3:before {
  margin-right: 23px; 
}

.steps h3:after {
  margin-left: 23px; 
}

.steps h3:before,
.steps h3:after {
  border-bottom: 1px solid black;
  content: '';
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: top;
}

.steps h4 {
  font-size: 2em;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.steps p {
  font-size: 1.4em;
  line-height: 1.2em;
  font-weight: lighter;
}

/* Team Section */

.team h2 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 2rem;
}

.team .jumbotron {
  background-color: #f8f8f8;
  margin-bottom: 0;
  /*background-image: url("../images/bg.png");*/
}

.team .carousel {
  color: #000;
  background-color: #f8f8f8;
  /*background-image: url("../images/bg.png");*/
  border-radius: 5px;
  /* border: 1px solid #656f8c;*/
  /*box-shadow: 0 10px 6px -6px #777;*/
}

.carousel-item h3,
.carousel-item p {
  color: #211426;
  margin-top: 1rem;
}

.carousel-item h3 {
  text-transform: uppercase;
}

.carousel-item p {
  font-weight: 300;
}

.carousel-item img {
  /* margin-top: 2rem; */
  height: 250px;
  width: 200px;
  border-radius: 5%;
  border: 2px solid #f2efdf;
  box-shadow: 0 6px 19px 0 rgba(0,0,0,.375);
}

.carousel-indicators li {
  background-color: rgba(33,22,381,.5);
}
.carousel-indicators {
  bottom: -35px;
}

.carousel-indicators .active {
  background-color: #211426;
}

.team .carousel-control-prev-icon,
.team .carousel-control-next-icon {
  cursor: pointer;
}

.carousel-control-next,
.carousel-control-prev {
  color: #211426
}

.carousel-control-next:focus, 
.carousel-control-next:hover, 
.carousel-control-prev:focus, 
.carousel-control-prev:hover {
  color: #f2efdf;
}

/* Special Thanks Section */

.thanks {
  background-color: #fff;
  margin: 4rem 0;
}

.thanks img {
  height: 75px;
  opacity: 0.5;
  filter: grayscale(100%);
}

/* Footer Section */

.social {
  /*border-right: 1px solid #656f8c;*/
  /*text-align: left;*/
}

.social a {
  margin: 0 0.25rem;
  color: #9bbfab;
}

.social p {
  letter-spacing: 2px;
  color: #656f8c;
}

.copyright {
  color: #656f8c;
}

.subscribe p {
  text-transform: uppercase;
  color: #656f8c;
}

.subscribe .form-inline {
  width: 365px;
  margin: 0 auto;
}

.subscribe .form-control {
  border-radius: 0;
  margin-right: 0!important;
  border-width: 0;
  width: 289px;
}

.subsscribe .btn,
.subscribe .btn-primary {
  border-radius: 0;
  border-width: 0px;
  background-color: #9bbfab;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services p {
  text-align: left;
  color: #656f8c;
}

.misc p {
  color: #9bbfab;
}

.misc .to-top {
  color: #656f8c;
  margin-bottom: 2rem;
}

.misc .contact {
  color: #656f8c;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 0.5rem;
}

/* Dashboard - Event Items */
.event-item {
  position: relative;
  width: 100%;
  height: 112px;
  margin-top: 1rem;
  background-color: #333;
  border-radius: 25px;
  /*background-image: url("../images/bg.png");*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.event-item.visible {
  opacity: 1;
}

.event-item-info {
  position: absolute;
  left: 10%;
  text-align: left;
}

.event-item-info h5 {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.event-item-info p {
  margin-bottom: 0.5rem;
}

.event-item-number {
  position: absolute;
  top: 30%;
  right: 10%;
}

.overlay {
  width: 100%;
  height: 112px;
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  background-size: cover;
  border-radius: 25px;
  cursor: pointer;
}

.overlay:hover {
  background-color: rgba(0,0,0,0);
  border: 1px solid #000;
}